@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200&family=News+Cycle:wght@700&family=Sarala:wght@400;700&family=Titillium+Web:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Baskervville&family=Be+Vietnam+Pro:wght@200&family=Bebas+Neue&family=Dela+Gothic+One&family=Luckiest+Guy&family=News+Cycle:wght@700&family=Sarala:wght@400;700&family=Titillium+Web:wght@200&display=swap');




html{
    scroll-behavior: smooth;
}

body{
    margin:0;
    padding:0;
    overflow-x:hidden;
    --main-font-family:'Light 300', sans-serif;
    --main-colortitle:#4A5F99;
    --main-fonttitle:'Bebas Neue', sans-serif;
    --main-bgsection:#E4E6EE;
}

h2{
  font-family:var(--main-fonttitle);
  color:var(--main-colortitle);
  text-align:center;
  font-size:30px;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  margin:2%;
}

/*article{
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
    
    position:relative;
    
    
}




article h2{
    font-family:var(--main-fonttitle);
    color:var(--main-colortitle);
    
}

article h3{
   font-family: var(--main-font-family);
   
}*/

#Articles{
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    
    align-items:center;
    text-align:center;
    font-family:var(--main-font-family);
    font-size:18px;
}

#Article1 iframe{
  width:70vw;
  height:40vh;
}

#Article2 iframe{
    width:70vw;
    height:40vh;
  }
  
#Article3 iframe{
    width:70vw;
    height:40vh;
}

article{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}




aside{
    
    
    text-align:center;
    font-style: italic;
    color: #4A5F99;
    margin-top:1.5%;   
    padding:2%;
    

}

aside h3{
    font-family: var(--main-font-family);
    text-decoration:underline;
    font-size:20px;
}

aside a{
    text-decoration:none;
    display: block;
    color:#4A5F99;
    font-size:1.3rem;
    
}

aside a:hover{
    text-decoration:underline;
    
}

@media only screen and (min-width:800px){
    #Article1 iframe{
        width:516px;
        height:315px;
      } 
    #Article2 iframe{
        width:516px;
        height:315px;
      } 
    #Article3 iframe{
        width:516px;
        height:315px;
    }
}

.Verif{
    text-align:center;
    font-family: var(--main-font-family);
    margin-top:5%;

}

.Verif fieldset{
    border:0;
}
